{% extends "layout.html" %}
{% block css %} {% endblock %}
{% block title %}canales{% endblock %}
{% block body %} 
<div class="ingreso h-100 justify-content-center align-items-center flex-column" id="ingreso">
    <h4>Ingresa tu nombre para empezar a chatear</h4>
    <div class="input-group mb-3 mt-3 w-50 ">
        <input type="text" id="usuario" class="form-control" placeholder="@Usuario" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Iniciar</button>
    </div>
</div>

<div id="chat" style="display: none;">
    <ul id="mensajes"></ul>
    <input type="text" id="mensaje" placeholder="Mensaje...">
</div>

{% endblock %}